bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.import
/.godot
*.uid
TheRailgun2.sln.DotSettings.user
*.user
TheRailgun2.sln.DotSettings.user
TheRailgun2.sln.DotSettings.user
TheRailgun2Code/Character/HadesTiers.cs
TheRailgun2Code/Cards/Skills/TestCard.cs
